*{
    box-sizing: border-box;
}

html{
    font-size: 24px;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    background-color: rgb(65, 0, 126);
    color: rgb(225, 192, 255);
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav{
    background-color: rgb(31, 0, 69);
}

nav ul{
    width: 800px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.mini-container{
    width: 480px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
}

footer{
    background-color: rgb(31, 0, 59);
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

label{
    display: block;
    margin-top: 20px;
}

label input, textarea{
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    color: #fff;
}

label input:focus, textarea:focus{
    outline: 2px solid rgba(255, 255, 255, 1);
}

.error{
    font-size: 0.6rem;
    color: #FFFF00;    
}

button{
    border: none;
    padding: 10px 20px;
    background-color: rgb(31, 0, 59);
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
}

button:hover{
    background-color: rgb(65, 0, 126);
}

.controles{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.fileContainer{
    position: relative;
}

.fileContainer input{
    display: none;
}

.fileContainer img{
    width: 100%;
    display: block;
}

.fileContainer div{
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    color: white;
}

.fileContainer .errorUpload{
    position: absolute;
    top: 0;
    text-align: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    color: #FFFF00;
}

table{
    width: 960px;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 0.8rem;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid rgb(31, 0, 59);
}

table td{
    padding: 5px;
}

table thead td{
    background-color: rgb(31, 0, 59);
}

table tbody tr:nth-child(even) td{
    background-color: rgba(255, 255, 255, 0.1);
}

a{
    color: white;
}